<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<body>


   <div class="gradient-custom" style="height: 800px;">


    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Receiptify</a>
        <p class="align-middle h5 pl-4 text-white">Welcome, {{ current_user.username }}!</p>
        {% if current_user.is_anonymous %}
        <ul class="navbar-nav px-7">

            <li class="nav-item text-nowrap">

                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-link" href="{{ url_for('signup') }}">SignUp</a>


            </li>
        </ul>
        {% else %}


        <ul class="navbar-nav px-3">

          <li class="nav-item text-nowrap">

              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>



          </li>
      </ul>

    </nav>




    </ul>








    {% endif %}




<div class="container">

<table class ="table table-lg">
    <table class="table table-sm table-bordered">
    <thead>
        <th>ID</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>

    </thead>
    <tb>

        {% for category in categories %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{category.name}}</td>
            <td> <a href="{{url_for('updateCategory', id=category.id)}}" class="btn btn-sm btn-info">Edit </a> </td>
            <td> <form action="{{url_for('deleteCategory',id=category.id)}}" method="post">
                  <button type="submit" class="btn btn-danger">Delete</button>
                </form></td>
        </tr>

         {% endfor %}


    </tb>
</table></table>
</div>
</div>
</head>

</html>

